.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-image: linear-gradient(to right,#ffffff -40%, #199071, #1B7DA6);
    padding: 0 10px;
    padding-top: 5px;
}

.right {
    display: flex;
    align-items: center;
}

.logo {
    width: 11vw;
    height: 9vw;
    margin-left: 1vw;
}

.title {
    width: 33vw;
    height: 4vw;
    margin-top: -1vw; 
}

.left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 17px;
    margin-right: 10px;
    font-size: 1.3vw;
    margin-top: -0.5vw;
}

.link {
    color: white;
    font-family: 'ProximaRegular';
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.btn {
    border-radius: 60px !important;
    width: 95px;
    font-family: 'ProximaBold';
    font-size: small;
}