.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 6px;
    padding: 2vw 8vw;
}

.grid-image {
    width: 30vw;
    height: 20vw;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.grid-image:hover {
    transform: scale(1.05);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: none;
    padding: 20px;
}

.zoomed-image {
    max-width: 90%;
    max-height: 90vh;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
    z-index: 10;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

@media (max-width: 600px) {
    .nav-arrow {
        font-size: 1.5rem;
    }
}